<!--The content below is only a placeholder and can be replaced.-->
<html>

<body>
  <div class="parent">

    <div class="header">
      <div class="titleHolder">
        <div class="logo"></div>
        <p class="pageTitle">SITE NAME</p>
      </div>
      <button>Logout</button>
    </div>

    <div class="sidebar">
      <ul>
        <li><a><img src="../assets/images/dashboard.png"></a></li>
        <li><a><img src="../assets/images/settings_dull.png"></a></li>
      </ul>
    </div>

    <router-outlet></router-outlet>

  </div>
</body>

</html>